.section-title {
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 1.5rem;
	letter-spacing: 1px;
	margin: 0;
	color: #161616;

	&--bottom-border {
		&:after {
		display: block;
		height: 2px;
		background-color: #555;
		content: " ";
		width: 40px;
		margin-top: 20px;
	}
}
	&--narrow {
		font-family: "Raleway", sans-serif;
		font-weight: 300;
		line-height: 1.5;
		letter-spacing: 2px;
		margin-left: 105px;
	}
}

.subtitle {
		margin-bottom: 75px;
		font-weight: 400;
		font-size: 1rem;
		letter-spacing: 1.5px;
	}