.site-header {

	&__menu-container {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	&__menu-container:hover {
		background-color: $mainGreen;
		cursor: pointer;
	}

	.hamburger-icon {
		padding-left: 10px;

	}

	p {
		margin: 0;
		text-transform: uppercase;
		align-content: center;
	}

}